.collection-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
}

.collection-item .image {
    width: 100%;
    height: 92%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}

.collection-item .collection-footer {
    display: flex;
    width: 100%;
    font-size: 18px;
    height: 8%;
    align-items: center;
}

.collection-item>.collection-footer .name {
    width: 80%;
    margin-bottom: 15px;
}

.collection-item>.collection-footer .price {
    width: 10%;
}